[Unit]
Description=Thermon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=thermon

ExecStart=/usr/local/bin/thermon
WorkingDirectory=/usr/local/share/thermon

Restart=on-failure
RestartSec=5

Environment="THERMON_PORT=18437"

[Install]
WantedBy=multi-user.target